
section {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.ml-64 {
  margin-left: 16rem;
}

.h-screen {
  height: 100vh;
}

.hover-bg-gray-100:hover {
    background-color: #ffff23;
  }
  
  .hover-text-gray-700:hover {
    color: #000000; /* Color de texto gris oscuro */
  }
  